
/*---------------------------------------QUADROS ABOUTUS---------------------------------------*/
.aboutus {
  position: relative;
  width: 980px;
  height: 300px;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
}

.aboutus div h1 {
  font-family: Helvetica;
  text-align: center;
  color: #818181;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 30px;
  width: 304px;
}

.aboutus h1:hover {
  transition: ease 0.3s;
  color: #585858;
}

.aboutus div p{
  font-family: Helvetica;
  text-align: center;
  color: #9a9a9a;
  width: 305px;
}

.about {
  width: 31%;
  position: absolute;
  top: 0px;
  left: 20px;
}

.rand {
  width: 31%;
  position: absolute;
  top: 0px;
  right: 20px;
}

.aboutus img {
  position: absolute;
  top: 53px;
  width: 220px;
  transform: translateX(20%);
}

@media screen and (max-width: 1080px){
  .aboutus {
    width: 305px;
    height: 330px;
    left: 50%;
    transform: translateX(-50%);
  }
  .about {
    width: 305px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  .rand {
    width: 305px;
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
  }
}
/*---------------------------------------FIM QUADROS ABOUTUS---------------------------------------*/

/*---------------------------------------QUADROS PRODUTOS---------------------------------------*/
.quadros {
  position: relative;
  width: 880px;
  height: 450px;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}

.quadros img {
  position: absolute;
  max-height: 150px;
  width: auto;
  height: auto;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.quadros p {
  font-family: Helvetica;
  text-align: center;
  color: #9a9a9a;
  line-height: 20px;
  position: absolute;
  bottom: -12px;
  right: 50%;
  transform: translateX(50%);
  width: 205px;
}

.quadros h2 {
  font-family: Helvetica;
  font-size: 20px;
  position: absolute;
  bottom: 50px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.quadros h2:hover {
  transition: ease 0.3s;
  color: #585858;
}

.quadros ul{
  margin-left: 15px;
  display: inline-block;
  list-style: none;
}

.inflamable {
  position: absolute;
  height: 350px;
  width: 220px;
  border: 3px solid #004b98;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  border-radius: 20px;
  bottom: 15px;
  left: 30px;
}

.chair {
  position: absolute;
  height: 350px;
  width: 220px;
  border: 3px solid #004b98;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  border-radius: 20px;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.chair p{
  bottom: 20px;
}

.chair h2 {
  color: #818181;
  font-family: Helvetica;
  font-size: 20px;
  top: 185px;
}

.chair > img{
  max-height: 190px;
}

.glp {
  position: absolute;
  height: 350px;
  width: 220px;
  border: 3px solid #004b98;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  border-radius: 20px;
  bottom: 15px;
  right: 30px;
}

.inflamable h2 {
  color: #818181;
  font-family: Helvetica;
  font-size: 20px;
  top: 155px;
}


.glp h2 {
  color: #818181;
  font-family: Helvetica;
  font-size: 20px;
  top: 155px;
}


@media screen and (max-width: 1080px){
  .quadros{
    height: 1100px;
    width: 100%;
    top: 40px;
  }

  .quadros p {
    width: 290px;
  }

  .chair {
    width: 305px;
  }

  .glp {
    width: 305px;
    top: 390px;
    left: 50%;
    transform: translateX(-50%);
  }
  .inflamable {
    width: 305px;
    top: 750px;
    left: 50%;
    transform: translateX(-50%);
  }
}
/*---------------------------------------FIM QUADROS PRODUTOS---------------------------------------*/

/*---------------------------------------QUADRO ACREDITAÇÕES---------------------------------------*/
.txt_quadro {
  background-color: #e6e6e6;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 1000px;
  height: 270px;
  top: 1450px;
  z-index: 9;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

.txt_quadro img {
  position: absolute;
  top: -50px;
  max-height: 50px;
  width: auto;
}

.acreditacao {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 910px;
  height: 270px;
}
.acreditacao ul {
  height: 160px;
}

.acreditacao h1{
  font-family: Helvetica;
  text-align: center;
  color: #818181;
  text-transform: uppercase;
  line-height: 30px;
}

.acreditacao p{
  font-family: Helvetica;
  color: #818181;
  position: fixed;
  top: 35px;
  right: 10px;
  line-height: 40px;
}

.acreditacao li {
  font-family: Helvetica;
  color: #818181;
  left: 20px;
  top: -16px;
  position: relative;
  line-height: 3px;
}

@media screen and (max-width: 1080px){
  .txt_quadro{
    top: 2250px;
    width: 90%;
  }
  .txt_quadro img {
    height: 25px;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
  }
  .acreditacao h1 {
    font-size: 20px;
  }
  .acreditacao p {
    font-size: 10px;
  }
  .acreditacao li {
    font-size: 10px;
  }

}

/*---------------------------------------FIM QUADRO ACREDITAÇÕES---------------------------------------*/