/*----------FOOTER----------*/
#footer {
    bottom: 0px;
    height: 270px;
    width: 100%;
    background-color: #00264d;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    column-gap: 100px;
    grid-template-rows: 270px;
    justify-content: center;
    color: white;
}

#footer h2 {
    color: white;
}

#footer ul {
    list-style-type: none;
}

#footer ul li {
    line-height: 40px;
}

#footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

#footer i {
    font-size: 14px;
}

#map {
    /*background-color: black;*/
    height: 100%;
    width: 250px;
}

#map a:hover {
    color: #004b98;
    transition: ease 0.3s;
}

.contact-footer:hover i{
    color: #004b98;
    transition: ease 0.3s;
}

#redes-sociais-footer {
    height: 40px;
    margin-top: 10px;
}

#redes-sociais-footer i {
    font-size: 32px;
    color:white; 
  }

#redes-sociais-footer i:hover {
    color: #004b98;
    transition: ease 0.3s;
  }

#redes-sociais-footer ul li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}


@media (max-width:1100px) {
    #footer {
    height: 800px;
    grid-template-columns: 100%;
    grid-template-rows: 270px 270px 270px;
    align-content: center;
    }

    #map {
        transform: translateX(-50%);
        margin-left: 50%;
        text-align: center;
    }

    #contato {
        transform: translateX(-50%);
        margin-left: 50%;
        text-align: center;
    }

    #local-footer {
        text-align: center;
        height: 250px;
    }

    .mapouter {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .email-li {
        width: 239px;
    }
}

/*----------FIM FOOTER----------*/