#footer {
    bottom: 0px;
    margin-top: 60px;
    height: 270px;
    width: 100%;
    background-color: #00264d;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    column-gap: 100px;
    grid-template-rows: 270px;
    justify-content: center;
    color: white;
}

#footer h2 {
    color: white;
}

#footer ul {
    list-style-type: none;
}

#footer ul li {
    line-height: 40px;
}

#footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

#footer i {
    font-size: 14px;
}

#map {
    /*background-color: black;*/
    height: 100%;
    width: 250px;
}

#map a:hover {
    color: #004b98;
    transition: ease 0.3s;
}

.contact-footer:hover i{
    color: #004b98;
    transition: ease 0.3s;
}

