#fale-conosco-container {
    height: auto;
    display: grid;
    grid-template-rows: 135px 640;
    justify-content: center;
}

.txt {
    grid-row: 1;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
}

.txt h1 {
    color: #818181;
    text-align: center;
}

.txt img{
    margin-left: 70px;
    margin-top: -20px;
    width: 140px;
}

.txt p {
    text-align: center;
    color: #9a9a9a;
}

.fale-conosco-contato {
    width: 100%;
    height: 420px;
    display: grid;
    grid-template-columns: 700px 360px;
}

fieldset{
    width: 700px;
    height: 600px;
    border: white;
}

::placeholder{
    color:#818181;
}

#form label{
    font-family: Helvetica;
    color: #393939;
    font-size: 16px;
    text-align: baseline;
    font-style: bold;
}

#form select{
    background-color: white;
    font-size: 14px;
    position: relative;
    border-style:solid;
    border: 1px solid #dddd;
    border-radius: 3px;
    right: 0%;
    width: 180px;
    height: 25px;
}

#form input {
    font-size: 16px;
    height: 40px;
    background-color: white;
    border: 1px solid #dddd;
    color: #818181;
    border-radius: 3px;
    width: 100%;
    margin-top: 2px;
    font-family: Helvetica;
}

.field {
    display: grid;
    grid-template-columns: 340px 330px;
    grid-template-rows: 75px 75px 75px 185px;
}

.form-field {
    width: 330px;
    height: 60px;
}

.nome {
    width: 330px;
    height: 60px;
    grid-column-start: 1;
}

.email {
    grid-column-start: 2;
    grid-column-end: 3;
}

.tel {
    grid-column: 1;
    grid-row: 2;
}

.dep {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
    margin-top: 1px; /* N SEI PQ PRECISA*/
}

#form select.dep {
    color: #818181;
    width: 100%;
    height: 40px;
    font-size: 16px;
}

.assunto {
    width: 100%;
    height: 60px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
}

.msg {
    width: 100%;
    height: 150px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;

}

#form textarea {
    border: 1px solid #dddd;
    font-size: 16px;
    font-family: Helvetica;
    border-radius: 8px;
    resize: none;
}

.submit {
    width: 100px;
    font-size: 16px;
    transform: translateX(250%);
}

#form input.submitc {
    cursor: pointer;
    background-color: #004b98;
    color: rgb(255, 255, 255);
    border: none;
}

#form input.submitc:hover {
    background-color: #00376e;
    transition: ease 0.3s;
}





#contact {
    background-color: #dddd;
    width: 360px;
    height: 380px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90px 90px 90px;
    margin-top: 20px;
}

#contact img {
    width: 35px;
    height: auto;
    max-height: 35px;
}

#contact h3 {
    font-size: 20;
    color: #818181;
    line-height: 0px;
}

#contact a {
    color: #818181;
    font-size: 16;
    text-decoration: none;
    line-height: 20px;
}

.contact-img {
    transform: translateY(50%);
    margin-left: 30%;
    width: 35px;
    height: 35px;
}

.contact-txt {
    margin-left: 15px;
}

.contact-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 60px 350px;
    grid-template-rows: 85px;
}




@media (max-width:1160PX) {
    .fale-conosco-contato {
        grid-template-columns: 450px 0px;
        grid-template-rows: 600px 380px;
    }

    .field {
        grid-template-columns: 450px 0px;
        grid-template-rows: 75px 75px 75px 75px 75px 185px;
        width: 450px;
    }

    .nome {
        width: 100%;
    }

    .email {
        grid-column: 1;
        grid-row: 2;
        width: 100%;
    }

    .tel {
        grid-row: 3;
        width: 100%;
    }

    .dep {
        grid-column: 1;
        grid-row: 4;
        width: 100%;
    }

    .assunto {
        grid-row: 5;
    }

    .msg {
        grid-row: 6;
    }

    #contact {
        grid-row: 2;
        margin-left: 50%;
        transform: translateX(-50%);
    }
  
    #form input.submitc {
        position: absolute;
        left: 50%;
        transform: translateX(-120%);
    }

}
