#quem-somos-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 850px;
    height: 550px;
    display: grid;
    grid-template-rows: 145px 145px 145px 145px;
    grid-template-columns: 150px 690px;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

#quem-somos-container img {
    max-height: 130px;
    height: auto;
    width: auto;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

.pessoas-txt h1 {
    font-size: 28px;
    color: #818181;
}

.pessoas-txt p {
    text-align: justify;
    color: #9a9a9a;
}

.quem-somos-footer {
    margin-top: 120px;
}

@media (max-width:1160PX) {
    #quem-somos-container {
        grid-template-columns: 305px;
        grid-template-rows: 110px 210px 110px 210px 110px 210px 110px 210px;
        width: 305px;
        justify-items: center;
        text-align: -webkit-center;
    }

    .pessoas-txt p {
        text-align: center;
    }

    #footer {
        margin-top: 1015px;
    }
}