#servicos-container {
    display: grid;
    position: relative;
    left: 50%;
    transform: translateX(-27.4%);
    grid-template-columns: 1050px;
    grid-template-rows: 320px 640px 100px 100px;
}

#servicos-container ul li {
    list-style-type: ;
}

#servicos-container h1 {
    color: #818181;
    font-size: 22px;
    font-weight: bold;
}

#servicos-container h2 {
    font-weight: bold;
    color: #818181;
    font-size: 16px;
    line-height: 0px;
}


#servicos-container p {
    color: #818181;
    font-size: 16px;
}

#servicos-container li {
    color: #9a9a9a;;
}